<section class="container mt-5">
<div class="row">
<div class="col-md-5">
    <div class="card float-right " style="width: 18rem;">
        {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
            <div class="card-body">
                <h5 class="card-title text-center">PRODUCTS</h5>
                <p class="card-text">Go through your products . Add , Edit or Delete your products
                </p>
                <a href="min/viewpros" class="btn btn-primary">See Products</a>

            </div>
        </div>
    </div>

<div class=" col-md-5">
    <div class="card float-right " style="width: 18rem;">
        {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
            <div class="card-body">
                <h5 class="card-title text-center">ORDERS</h5>
                <p class="card-text">Find all orders , Navigate through them .Update Order status ,etc..</p>
                <a href="min/orders" class="btn btn-primary">See all Orders</a>
            </div>
        </div>
    </div>






    </section>
