<section class="container mt-5">
<div class="row">
<div class="col-md-4">
    <div class="card" style="width: 18rem;">
        {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
            <div class="card-body">
                <h5 class="card-title text-center">PRODUCTS</h5>
                <p class="card-text">Go through your products . Add , Edit or Delete your products
                </p>
                <a href="min/viewpros" class="btn btn-primary">See Products</a>

            </div>
        </div>
    </div>

<div class="col-md-4">
    <div class="card" style="width: 18rem;">
        {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
            <div class="card-body">
                <h5 class="card-title text-center">ORDERS</h5>
                <p class="card-text">Find all orders , Navigate through them .Update Order status ,etc..</p>
                <a href="min/orders" class="btn btn-primary">See all Orders</a>
            </div>
        </div>
    </div>

<div class="col-md-4">
    <div class="card" style="width: 18rem;">
        {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
            <div class="card-body">
                <h5 class="card-title text-center">USERS</h5>
                <p class="card-text">See all your users </p> 
                <br>
                <a href="min/users" class="btn btn-primary">See all Users</a>
            </div>
        </div>
    </div>

</div>




    </section>
