





<header class="sticky-top">


<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
                <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand mr-auto mr-lg-0 pl-3" href="#">ADMIN PANEL</a>


        <div class="navbar-collapse offcanvas-collapse " id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto ">
                        <li class="nav-item active mt-3 mt-lg-0">
                                <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item">
                                <a class="nav-link" href="#">Profile</a>
                        </li>

                        <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">Settings</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown01">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                        </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
        </div>

        <img class="p-3" src="https://img.icons8.com/ios/30/ffffff/shopping-cart.png" />
        <!-- <img src="https://img.icons8.com/material/50/000000/shopping-cart-with-money.png" /> -->
</nav>

</header>
{{!-- One item in cart <img src="https://img.icons8.com/ios/50/000000/shopping-cart-with-money.png" /> --}}

