<header>
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">SHOPPING CART</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Products <span class="sr-only">(current)</span></a>
      </li>
      
      {{#if user}}
      <li class="nav-item">
        <a class="nav-link " href="/orders">Orders</a>
      </li>
      {{/if}}
    </ul>
                   <div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle mx-3 pr-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{#if user}}
    {{user.name}}
    {{else}}
Account
    {{/if}}
    
  </button>
  <div class="dropdown-menu">
        {{#if user}}
                <a class="dropdown-item" href="/logout">Logout</a>
                {{else}}
        <a class="dropdown-item" href="/login">Login</a>
        {{/if}}
    
    
  </div>

     
</div>
  </div>
        <a class="nav-link" href="/cart"><h5> <img class="mr-n4 mt-2 " src="https://img.icons8.com/pastel-glyph/50/000000/shopping-cart--v2.png"/> <span class=" ml-n4 mt-n2  pl-n3 badge badge-success" id="cart-count">{{cartcount}}</span></h5></a>
  
</nav>



</header>
{{!-- One item in cart <img src="https://img.icons8.com/ios/50/000000/shopping-cart.png" /> --}}
{{!-- function() {
$('.offcanvas-collapse').toggleClass('close')
} --}}