<section class="container-fluid">
  <div class=" mt-5">
    <div class="row ">
      {{#each products}}

        <div class="col-lg-3 col-md-4 col-sm-6 p-1">
          <div class="card m-1 col-sm-12" style="width: 18rem;">
            <img src="/product-images/{{this._id}}.jpg " class="card-img-top" alt="p1">
            <div class="card-body">
              <h5 class="card-title">{{this.name}}</h5>
              <p class="card-text">{{this.description}}</p>
              <a href="/cart" class="btn btn-primary">ADD TO Cart</a>
            </div>
          </div>
        </div>

      {{/each}}

    </div>
  </div>
</section>