<section>
    <div class="container mt-5">
        <form action="" id="checkout-form">
            <div class="row">
                <div class="col-md-6">
                    <h2>Enter Deliver Details</h2>
                    <br>
                        <div>
                            <label for="">
                                Address</label>
                            <input type="text" name="address" class="form-control" id="address">

                                <label for="">
                                    Pincode</label>
                                <input type="text" name="pincode" class="form-control" id="pincode">

                                    <label for="">
                                        Mobile</label>
                                    <input type="text" name="mobile" class="form-control" id="mobile">

                                        {{!-- hidden input --}}
<input type="text" value="{{user.name}}" name="username" hidden>
                                        <input type="text" value="{{ user._id }}" name="userId" hidden></div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="container mt-5 ml-5 checkout">
                                            <h5>Total Amount : Rs.{{ total }}</h5>
                                            <hr>
                                                <div class="payment">
                                                    <p>Payment method</p>
                                                    <label for="" class="radio-inline">
                                                        <input type="radio" name="payment-method" value="COD" checked>COD
                                                        </label>
                                                        <label for="" class="radio-inline mt-2">
                                                            <input type="radio" name="payment-method" value="ONLINE-PAYMENT">ONLINE-PAYMENT
                                                            </label>
                                                            <button class="btn btn-primary float-right" type="submit">Checkout</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </section>
                                <script>
                                    $('#checkout-form').submit((e) => {
                                        e.preventDefault()
                                        $.ajax({
                                            url: '/place-one-order',
                                            method: 'post',
                                            data: $('#checkout-form').serialize(),
                                            success: (response) => {
                                                if (response.CODSucess) {
                                                    location.href = '/order-sucess'
                                                } else {
                                                    alert('Your Begin Redirected To the Payment Page')


                                                    razopayPayment(response)
                                                }

                                            }

                                        })
                                    })
                                    function razopayPayment(order) { // console.log(order)
                                        var options = {
                                            "key": "rzp_test_TrQaF14UBI16RH", // Enter the Key ID generated from the Dashboard
                                            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                                            "currency": "INR",
                                            "name": "Joel",
                                            "description": "Test Transaction",
                                            "image": "https://example.com/your_logo",
                                            "order_id": order.id, // This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                                            "handler": function (response) {

                                                verifyPayment(response, order)
                                            },
                                            "prefill": {
                                                "name": "Gaurav Kumar",
                                                "email": "gaurav.kumar@example.com",
                                                "contact": "9999999999"
                                            },
                                            "notes": {
                                                "address": "Razorpay Corporate Office"
                                            },
                                            "theme": {
                                                "color": "#F37254"
                                            }
                                        };
                                        var rzp1 = new Razorpay(options);
                                        rzp1.open();
                                    }
                                    function verifyPayment(payment, order) {
                                        console.log(payment, order)
                                        $.ajax({
                                            url: '/verifyPayment',
                                            data: {
                                                payment,
                                                order
                                            },
                                            method: 'post',
                                            success: (response) => {
                                                if (response.status) {
                                                    location.href = '/order-sucess'

                                                } else {
                                                    alert('Payment Failed')
                                                }
                                            }
                                        })
                                    }
                                </script>
                                <style>
                                    input[type=radio] {
                                        width: 20px;
                                        height: 20px;
                                    }
                                    label.radio-inline {
                                        display: flex;
                                        align-items: center;
                                    }
                                    .checkout {
                                        border: 1px solid;
                                        border-radius: 3px;
                                        padding: 30px;
                                    }
                                    .payment {
                                        padding-bottom: 16px;
                                    }
                                </style>

