html,body {
        overflow-x: hidden;
        /* Prevent scroll on narrow devices */
      }
.dataTables_wrapper .dataTables_filter input {
	border: 1px solid green;
	border-radius: 7px;
	padding: 13px;
	/* background-color: #f9f4f400; */
	margin-left: 0px;
	/* top: 1px; */
	height: 10px;
	position: fixed;
	top: 15px;
	left: 16%;
	z-index: 1332;
	color: #000;
	background-color: #fff;
	width: 30%;
}
 .pro-img{
  margin-top: 2rem;
	/* height: 21em; */
}
#table_id_filter label{
  color: transparent;
}
           .navbar,.bg-prmary {
                background-color: #2874f0 !important;


            }
            .cc{
              border-radius:4px ;
            }
.hGSR34 {
	line-height: normal;
	display: inline-block;
	color: #fff;
	padding: 2px 4px 2px 6px;
	border-radius: 3px;
	font-weight: 500;
	font-size: 12px;
	vertical-align: middle;
	background-color: #388e3c;
}
._2lQ_WZ {
	margin: 0 0 0 2px;
	height: 10px;
}

.on {
	border: 1px solid #fb641b;
	font-size: 16px;
	font-weight: 500;
	padding: 10px 60px;
	background-color: #fb641b;
	/* box-shadow: 0 1px 2px 0 rgba(0,0,0,.2); */
	color: #fff;
	/* height: 48px; */
	padding: 1em 0 1em 0;
	text-align: center;
	margin: 10px 0;
}
.navbar-collapse{
          background-color: #007bffde;

}

     



       

      .hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 1;
        border-top: 1px solid #00000059;
        width: 100%;
        background-color: #00000059;
        margin-left: -15px;
        height: 3px;
        padding-right: 19px;
      }
      .r {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 1;
        border-top: 1px solid #00000059;
        width: 100%;
        background-color: #00000059;
        margin-left: -15px;
        height: -3em;
        padding-right: 19px;
      }
      .as{
        text-transform: uppercase;
      }
      /* @media(max-width:600px){
        .card{
          height:24em ;
        }
      } */
       a{
        text-decoration: none;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

.dropdown-content a {
	color: black;
	padding: .81em 0 .1em 1em;
	text-decoration: none;
	display: block;
}

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
.dropbtn
{
    text-decoration: none;
}
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

@media(min-width:768px){
.navbar-collapse{
height: 56px;
}


}
body {
  padding-top: 56px;
}
 .dn{
    display: none;
  }
  .mb{
    display: block;
  }
@media (max-width: 768px) {
 .dn{
    display: block;
  }
  .mb{
    display: none;
  }
 
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    right: 0px;
    width: 70%;
    padding-right:1rem ;
    padding-left: 1rem;
    overflow-y: auto;
    background-color:#007bffde;
    /* transition: -webkit-transform .3s ease-in-out; */
    transition: transform .3s ease-out; 
     transition: transform .3s ease-out, -webkit-transform .3s ease-in-out; 
    -webkit-transform: translate(100%);
    transform: translateX(100%);
  }
  .offcanvas-collapse.open {
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem); /*Account for horizontal padding on navbar*/
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: var(--secondary);
}

.nav-underline .nav-link:hover {
  color: var(--blue);
}

.nav-underline .active {
  font-weight: 500;
  color: var(--gray-dark);
}
.dataTables_wrapper .dataTables_length {
	float: left;
	display: none;
}

.dataTables_wrapper .dataTables_filter input {
	border: 1px solid #fff !important;
	border-radius: 42px !important;
	padding: 13px !important;
	background-color: transparent;
	margin-left: 0px;
background-color: #fff !important;
}